# UE 编译缓存、中间文件
Binaries/
Intermediate/
Saved/
DerivedDataCache/
Build/
Data/
.vs/
*.sln
*.slnx
*.suo
*.vcxproj
*.vcxproj.user
*.pdb
*.obj
*.log

# 本地配置、缓存
.idea/
.vscode/
*.DS_Store
Thumbs.db

# 打包输出
Packaged/
Output/
Dist/

# 引擎本地缓存
LocalBuilds/
Engine/Extras/
Engine/Binaries/ThirdParty/*/*/Intermediate
Engine/Binaries/ThirdParty/*/*/Binaries

# 渲染缓存
ShaderCache/
TextureStreamingCache/

# 本地临时资源
Temp/
tmp/
*.tmp

.vsconfig